<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
</head>
<style>
    body{
        background-color: black;
        color: aliceblue;
    }
</style>
<body>
    <h1>404 Error Page Not Found 😕</h1>
</body>
</html>